<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My Ecommerce Site</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />


    @*<link rel="stylesheet" href="~/Content/Site.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <!-- Add any additional stylesheets needed for the layout here -->
    <style>
        /* Add a light blue background color to editable <td> tags */
        td[contenteditable="true"] {
            background-color: #f5f5f5;
            border-radius: 4px;
        }

            /* Add a border to editable <td> tags */
            td[contenteditable="true"]:focus {
                box-shadow: 0 0 0 2px #2196f3;
                outline: none;
            }

        .sidebar {
            position: fixed;
            z-index: 9999;
            height: 100%;
            top: 0;
            left: 0;
            width: 240px; /* adjust the width to your liking */
            box-sizing: border-box; /* include padding and border in height calculation */
            padding: 20px; /* add some padding to the sidebar */
            background-color: #f1f1f1;
        }

       
    </style>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button id="actionMenu" onclick="openLeftMenu()" class="btn btn-secondary">Actions</button>

            <div class="container">

                <a class="navbar-brand" href="@Url.Action("Index", "Home")">My Ecommerce Site</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Products", "Product")">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About", "Home")">About Us</a>
                        </li>
                        <!-- Add any additional links to the navigation menu here -->
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Account")">My Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Logout", "Account")">Log Out</a>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Account")">Log In</a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </nav>

        <div class="container-fluid" style="display:none" id="leftMenu">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <button onclick="closeLeftMenu()">&times;</button>
                    @*<div class="list-group">
                        <a href="@Url.Action("EditUserType", "Account")" class="list-group-item list-group-item-action active" aria-current="true">
                            Edit Users
                        </a>
                        <a href="@Url.Action("AddEditProduct", "Product")" class="list-group-item list-group-item-action">Add New Product</a>
                        <a href="@Url.Action("AddEditCategories", "Product")" class="list-group-item list-group-item-action">Add New Category</a>
                        <a href="@Url.Action("AddEditProductType", "Product")" class="list-group-item list-group-item-action">Add New Product Typ</a>
                        
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="@Url.Action("AddEditProduct", "Product")" class="nav-link active">Add New Product</a></li>
                        <li class="nav-item"><a href="@Url.Action("AddEditCategories", "Product")" class="nav-link active">Add New Category</a></li>
                        <li class="nav-item"><a href="@Url.Action("AddEditProductType", "Product")" class="nav-link active">Add New Product Type</a></li>
                        <li class="nav-item"><a href="@Url.Action("EditUserType", "Account")" class="nav-link active">Edit Users</a></li>
                    </ul>*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="@Url.Action("AddEditProduct", "Product")" class="nav-link active">Add New Product</a></li>
                        <li class="list-group-item"><a href="@Url.Action("AddEditCategories", "Product")" class="nav-link active">Add New Category</a></li>
                        <li class="list-group-item"><a href="@Url.Action("AddEditProductType", "Product")" class="nav-link active">Add New Product Type</a></li>
                        <li class="list-group-item"><a href="@Url.Action("EditUserType", "Account")" class="nav-link active">Edit Users</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div style="display:none" id="ActionMenuMobile">
            <button onclick="closeLeftMenu()">&times;</button>
            <ul class="list-group">
                <li class="list-group-item"><a href="@Url.Action("AddEditProduct", "Product")">Add New Product</a></li>
                <li class="list-group-item"><a href="@Url.Action("AddEditCategories", "Product")">Add New Category</a></li>
                <li class="list-group-item"><a href="@Url.Action("AddEditProductType", "Product")">Add New Product Type</a></li>
                <li class="list-group-item"><a href="@Url.Action("EditUserType", "Account")">Edit Users</a></li>
            </ul>
        </div>
    </header>

    <main class="container py-4">
        @RenderBody()
    </main>

    <footer class="bg-light">
        <div class="container py-4">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; @DateTime.Now.Year - My Ecommerce Site</p>
                </div>
                <div class="col-sm-6">
                    <!-- Add any additional footer content here -->
                </div>
            </div>
        </div>
    </footer>
    
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    

    <!-- Add any additional scripts needed for the layout here -->

    @RenderSection("scripts", required: false)
    <script>

        function openLeftMenu() {
            $("#leftMenu").show();
           
        }
        function closeLeftMenu() {
            $("#leftMenu").hide();
        }
        
        if ($(window).width() < 768) {
            // Do something for small screens
            
            $("#actionMenu").click(function () {
                $("#ActionMenuMobile").show();
            })
            
        }

    </script>
</body>
</html>
