@model List<Ecommerce.Models.product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<div class="row">
   
    @foreach (var product in Model)
    {
    
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">
                <img src="@Url.Action("GetImage", "Product", new { id = @product.image_url })" alt="@product.name" style="height:300px">
                <div class="card-body">
                    <h5 class="card-title">@product.name</h5>
                    <p class="card-text">@product.Material</p>
                    <div class="d-flex justify-content-between align-items-center">

                        <small class="text-muted">@product.price.ToString("C")</small>

                    </div>
                </div>
                <div class="btn-group">
                    <a href="@Url.Action("ProductDetails", "Product", new { ProductID = product.product_id })" class="btn btn-sm btn-outline-dark">View Details</a>
                    <a href="@Url.Action("AddToCart", "Cart", new { ProductID = product.product_id })" class="btn btn-sm btn-outline-dark">Add to Cart</a>
                </div>
            </div>
            <a href="@Url.Action("DeleteProduct", "Product", new { ProductID = product.product_id})" class="btn btn-danger">Delete Product</a>
            <a href="@Url.Action("AddEditProduct", "Product", new { ProductID = product.product_id})" class="btn btn-success">Edit Product</a>
        </div>
    

    }
</div>

