@model Ecommerce.Models.product
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductDetails</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4 box-shadow">
            <img src="@Url.Action("GetImage", "Product", new { id = Model.image_url })" alt="@Model.name" style="height:300px">
            <div class="card-body">
                <h5 class="card-title">@Model.name</h5>
                <p class="card-text">@Model.Material</p>

                <div class="d-flex justify-content-between align-items-center">

                    <small class="text-muted">@Model.price.ToString("C")</small>

                </div>
            </div>
        </div>
    </div>
   
    <div class="col-md-6" style="float:right">
        @Model.description
        
        <div style="padding:30px 0">
            <div><b>Size</b></div>
            @*<div class="btn-group" role="group" aria-label="Basic example" style="float:left">
                <button type="button" class="btn btn-outline-secondary">SM</button>
                <button type="button" class="btn btn-outline-secondary">M&nbsp;</button>
                <button type="button" class="btn btn-outline-secondary">L&nbsp;</button>
                <button type="button" class="btn btn-outline-secondary">XL</button>
            </div>*@
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> M
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> L
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> XL
                </label>
            </div>
        </div>
    </div>
</div>
